    <div class="col w-100">
        <div class="container w-100 mx-5 my-5">
            <div>
                <div class="text">
                    <h1>Contact</h1>
                </div>
                <div class="parrafo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi adipisci ipsam sit magni
                        voluptatem!
                        Reiciendis
                        magni et perspiciatis aliquid, dignissimos modi, aspernatur quia debitis fugit minus, asperiores
                        architecto
                        deleniti? Dolores!</p>
                </div>
            </div>

            <div class="pl-5 pr-5">
                <div class="mb-3 row bg-light p-5 border border">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label text-end"><b> Your E-mail</b></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label text-end"> <b>Your Message</b></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="inputPassword" rows="3"
                                placeholder="Please enter your message here"></textarea>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary mb-3">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
