    <div class="container">
        <div class="row align-items-start">
            <div class="col-12 mb-2">
                <h1 class="mb-2">Portfolio</h1>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus
                    magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="assets/img/big-project-image.png" alt="Imagen del Proyecto" class="card-img-top">
                    <div class="card-body">
                        <h5 class="text-primary">Nombre del Proyecto</h5>
                        <p class="card-text small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="assets/img/big-project-image.png" alt="Imagen del Proyecto" class="card-img-top">
                    <div class="card-body">
                        <h5 class="text-primary">Nombre del Proyecto</h5>
                        <p class="card-text small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="assets/img/big-project-image.png" alt="Imagen del Proyecto" class="card-img-top">
                    <div class="card-body">
                            <h5 class="text-primary">Nombre del Proyecto</h5>
                        <p class="card-text small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
