    <div class="container w-100 mx-5 my-5"> 
        <div class="row m-4 pl-5">
            <div class="img col-5 pl-10 px-3 my-5">
                <img class="rounded-circle img-fluid d-flex align-items-center px-5" src="assets/img/2.jpg" alt="hombre-tagline">
            </div>
            <div class="text col-7 pl-10 px-4 my-5"> 
                <h1>The Second Heading<span class="text-secondary"> Is Pretty Cool Too</span> </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi adipisci ipsam sit magni voluptatem! Reiciendis
                    magni et perspiciatis aliquid, dignissimos modi, aspernatur quia debitis fugit minus, asperiores architecto
                    deleniti? Dolores!</p>
            </div>
        </div>
    </div>