
    <div class="container-fluid p-0">
        <div class="position-relative" style="height: 100vh;">
            <img src="assets/img/bg.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;"
                alt="Background Image">

            <div class="position-absolute top-50 start-50 translate-middle w-100 text-center">
                <div class="bg-white py-2 my-3">
                    <h1 class="display-1"><strong><b>One Page Wonder</b></strong></h1>
                </div>
                <div class="bg-white py-2 my-3">
                    <p class="display-5"><strong><b>Will Knock Your Socks Off</b></strong></p>
                </div>
            </div>
        </div>
    </div>